// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home_controller {
  #wrapper.container-fluid {
    padding: 0px
  }

  #wrapper {
    position: relative;
  }

  .over_map {
    position: absolute;
    z-index: 1001;
    padding: 20px;
  }

  #explanation {
    .btn {
      margin-right: 10px;
      bottom: 10px;
      left: 50px;
      width: 70%;
    }
  }

  #filter {
    right: 0px;
    width: 290px;

    panel {
      width: 250px;
    }

    .btn-group {
      margin-top: 10px;
    }

    .btn {
      color: white;
    }
  }
}

@media (max-width: 767px) {
  body.home_controller #over_map{
    left: 0px;
    width: 100%;
  }
}
