/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require font-awesome
 *= require_self
 *= require_tree
 *
 *= depend_on_asset "layers.png"
 *= depend_on_asset "layers-2x.png"
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "flat-ui";

$brand-primary: black;
$text-color: black;
$header-bg: white;
$headings-color: #2C3E50;


$navbar-border-radius: 0px;
$navbar-default-bg: white;
$navbar-default-color: black;
$navbar-default-link-active-bg: white;
$navbar-default-link-active-bg: white;
$navbar-default-link-active-color: #2980B9;
$navbar-default-link-hover-color: #27AE60;

$error: #E74C3C;
$info: #2980b9;
$success: #27ae60;
$warning: #f1c40f;

body {
  padding-top: 51px;
}

#wrapper {
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato";
}

html,body,.container-fluid,.map{
  height:100%;
}

#wrapper {
  //padding: 0px
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  color: black;
  border: none;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}

.navbar-default.navbar-nav.nav li {
  color: black;
}

.navbar-default .navbar-brand {
  color: black;
}

.nav li a {
  color: black;
  text-decoration: none;
}

.navbar .nav > li > a:hover {
  color: #27AE60;
}

ul.nav li.active a {
  background-color: inherit;
}

/*a.navbar-brand {
  padding: 0px 40px 0px 40px;
} */

.navbar-brand a {
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input.error {
  border-color:$error;
}

.help-inline {
  display: block;
}

.alert-danger {
  background-color: $error;
  color: white;
  border: none;
}

.alert {
  &.alert-info  { background-color: $info }
  &.alert-danger   { background-color: $error }
  &.alert-warning   { background-color: $warning }
  &.alert-success { background-color: $success }

  //.container {
    // Correct the offset by 5px in horizontal padding to visually improve the alignment of flashes, since the brand
    // image contents are slightly offsetted to the right.
    //padding: 15px 20px;
    color: white;
    a.close {
      float: none;
      vertical-align: middle;
      margin-left: 10px;
      color: black;
    }
  //}
}

.track-detail {
  margin: 10px 0px;
}

ul.icon-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;

  li {
    //padding: 5px 3px;

    .icon-list-icon, .icon-list-description {
      display: table-cell;
      vertical-align: middle;
    }

    .icon-list-icon {
      width: 40px;
      padding: 10px;
      text-align: center;
    }

    .no-list-group {
      padding-left: 25px;
    }
  }
}

.list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0px !important;
}

.list-group-item:first-child {
  border-top-width: 2px;
}

.list-group-item:last-child {
  border-bottom-width: 2px;
}
