// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding:0;
  margin:0
}

html,body,#map{
  height:100%
}