// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tracks_controller {
  #wrapper.container-fluid {
    //padding: 0px
  }

  .row {
    height: inherit;
  }

  #map-col {
    height: inherit;
    padding: 0px;
  }

  &.new_action, &.show_action, &.edit_action {
    /*#wrapper {
      overflow: hidden;
    }*/

    #side-bar {
      height: 100%;
      overflow: auto;
      padding-bottom: 20px;
    }

    .form-control {
      display: inline;
      width: initial;
      padding: 4px 8px;
      font-size: 14px;
    }
  }

  #start_times .checkbox {
    padding: inherit;
  }
}