$brand-primary: black;
$text-color: black;
$header-bg: white;
$headings-color: #2C3E50;

$navbar-border-radius: 0px;
$navbar-default-bg: white;
$navbar-default-color: black;
$navbar-default-link-active-bg: white;
$navbar-default-link-active-bg: white;
$navbar-default-link-active-color: #2980B9;
$navbar-default-link-hover-color: #27AE60;

$input-color: #34495e;
$input-focus-color: #1abc9c;
$input-border: #dce4ec;
$input-border-radius: 6px;

$error: #E74C3C;
$info: #2980b9;
$success: #27ae60;
$warning: #f1c40f;

$panel-primary-color: #1abc9c;
