p= t(:'.hello', name: @resource.name)

p= t(:'.text')

p= link_to t(:'.change_password'), edit_password_url(@resource, reset_password_token: @token)

p= t(:'.wasntyou')
p= t(:'.password_wont_change')
